<h1> Movie # <%=@mid %> details</h1>
<a href="/movies"> Go back </a>
<hr>
<dl>
  <dt> Title </dt>
  <dd> <%= @m.title %> </dd>

  <dt> Year </dt>
  <dd> <%= @m.year %> </dd>

  <dt> Duration </dt>
  <dd> <%= @m.duration %> </dd>

  <dt> Description </dt>
  <dd> <%= @m.description %> </dd>

  <dt> Image </dt>
  <dd> <img src=<%= @m.image %> style="width:250px;"> </dd>

  <dt> Created at </dt>
  <dd> <%= @m.created_at %> </dd>

  <dt> Updated at </dt>
  <dd> <%= @m.updated_at %> </dd>

</dl>

<hr>
